@font-face {
    font-family:'IRANSans';
    src:url("/static/frontend/IRANSansWeb_Light.eot");
    src:local("IRANSansWeb_Light"), url("/static/frontend/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"),
    url("/static/frontend/IRANSansWeb_Light.woff2") format("woff2"),
    url("/static/frontend/IRANSansWeb_Light.woff") format("woff"),
    url("/static/frontend/IRANSansWeb_Light.ttf") format("truetype")
}

@font-face {
    font-family:'IRANSansBold';
    src:url("/static/frontend/IRANSansWeb_Bold.eot");
    src:local("IRANSansWeb_Bold"), url("/static/frontend/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
    url("/static/frontend/IRANSansWeb_Bold.woff2") format("woff2"),
    url("/static/frontend/IRANSansWeb_Bold.woff") format("woff"),
    url("/static/frontend/IRANSansWeb_Bold.ttf") format("truetype")
}

.custom_font {
    font-family: IRANSans, Tahoma, sans-serif;
}

.custom_bold{
    font-family: IRANSansBold, Tahoma, sans-serif;
}

.mainmenuIcons{
    width: 85px;
    height: 85px;
    margin-left: 10px;
    margin-top: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}